<!doctype html>
<head>
	<title>Machine Learning with Mario!!</title>
	<style>
		.imgsrc ( width: auto; height: auto; }
	</style>
</head>


<div class="imgsrc">
	<img src="{{url_for('static', filename='mario_banner.jpg')}}" />
</div>

<h2>Select file(s) to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="files[]" multiple="true" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>

<form method="post" action="/pre-staged" enctype="multipart/form-data">
		<input type="submit" value="Use Pre-Staged Files">
</form>

<form method="post" action="/reset" enctype="multipart/form-data">
		<input type="submit" value="Reset Stage Files">
	</p>
</form>

<p>
</p>
<iframe src="/file-list" frameborder="0" name="iframe"></iframe>


<script>
window.setInterval("reloadIFrame();", 5000);

function reloadIFrame() {
 window.frames["iframe"].location.reload();
}
</script>